<app-side-navbar [routeSelected]="'RESUME'"></app-side-navbar>
<app-resume-profile [sectionId]="'profile'"></app-resume-profile>
<app-resume-profesional-experiences [sectionId]="'profesional-xp'"></app-resume-profesional-experiences>
<app-resume-courses-trainings [sectionId]="'courses-trainings'"></app-resume-courses-trainings>
<app-resume-programming-languages [sectionId]="'programming-languages'"></app-resume-programming-languages>
<app-resume-studies [sectionId]="'studies'"></app-resume-studies>
<app-resume-languages [sectionId]="'languages'"></app-resume-languages>
<app-resume-hobbies [sectionId]="'hobbies-interests'"></app-resume-hobbies>
<app-resume-testimonies></app-resume-testimonies>
