<div class="row">
  <div class="col-12">
    <div class="card text-center border-0">
      <div class="card-body">
        <img class="rounded-circle img-fluid border shadow d-flex float-none profile-picture" src="assets/images/me-bw.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h1>Jeremy Bertin</h1>
    <p>Fullstack Trainee Software Engineer</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group d-flex justify-content-center align-items-center text-center" role="group">
      <button class="btn btn-block text-center" type="button">
        <a href="https://github.com/jeremy-bertin-developer" target="blank">
          <i class="fa fa-github float-lg-right text-center logo-github"></i>
        </a>
      </button>
      <button class="btn btn-block text-center" type="button">
        <a href="https://www.linkedin.com/in/jeremy-bertin-dev/" target="blank">
          <i class="fa fa-linkedin-square float-lg-left text-center logo-linkedin"></i>
        </a>
      </button>
    </div>
  </div>
</div>
