/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

html {
  scroll-behavior: smooth;
}

.line-separation {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
